.example-spacer {
  display: flex;
  flex-direction: row;
}
.button{
	border: 1px solid white;
}
.page-name{
	margin-left: auto;
	padding-right: 10px;
}
.page-button{
	right: 10px;
}
.page-button > *{
	transform: translateX(-100%);
}
