@import '../../styleVars';

.header{
	display: flex;
	color: #ffffff;
	// padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 8px;
	border-bottom: 1px solid $dark-theme-font-color;
	align-items: center;
	justify-content: center;
}

.example-spacer {
  display: flex;
  flex-direction: row;
}
.button{
	border: 1px solid white;
}
.page-name{
	font-size: 1.1em;
	padding-right: 10px;
}
.page-button{
	margin-left: auto;
	right: 10px;
}
.page-button > *{
	transform: translateX(-100%);
}
