<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="settingsMenu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    <span class="page-name" >Planer</span>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <div *ngIf="user">
      <div class="header">
        {{user.name}}
      </div>
      <button mat-menu-item *ngFor="let page of settingPagesActive" (click)="menuClick(page)">
        <span>{{page.name}}</span>
      </button>
    </div>
    <div *ngIf="!user">
      <div class="header">
        Nicht Eingeloggt
      </div>
      <button mat-menu-item *ngFor="let page of settingPagesInactive" (click)="menuClick(page)">
        <span>{{page.name}}</span>
      </button>
    </div>
  </mat-menu>




  <span class="example-spacer"></span>

  <button class="page-button" mat-button [matMenuTriggerFor]="pageMenu" aria-label="Example icon-button with a menu">
    <span class="page-name">{{activePage.name}}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #pageMenu="matMenu">
    <button mat-menu-item *ngFor="let page of courtPages" (click)="changePage(page)" >
      <span>{{page.name}}</span>
    </button>
  </mat-menu>
</mat-toolbar>
