<!-- <div class="book-form-container" [class.active]="active" [style.top.px]="mwindow.innerHeight-320>0 ? (mwindow.innerHeight-320)/2 : 0" [style.height.px]="mwindow.innerHeight > 320 ? 320 : mwindow.innerHeight < 190 ? 190 : mwindow.innerHeight" [style.position]="mwindow.innerHeight > 270 ? 'fixed' : 'fixed'" [style.gridTemplateRows]="mwindow.innerHeight < 260 ? '0 100%' : '28% 72%'" >
	<div class="book-form-header" >
		<div class="page-name header-item"><span class="underline">{{activePageCourt.name}}</span></div>
		<div class="day-name header-item">
			<div *ngIf="bookForm.get('date').value">
				<span class="underline">{{bookForm.get('date').value._d | date:"EEEE"}},</span>&nbsp;den {{bookForm.get('date').value._d | date:"dd.MM.yyyy"}}
			</div>
		</div>
		<div class="timespan header-item">
			<div *ngIf="bookForm.get('startTime').value">
				Von <span class="underline">{{bookForm.get('startTime').value}}</span>
			</div>
			<div *ngIf="bookForm.get('endTime').value">
				&nbsp; bis <span class="underline">{{bookForm.get('endTime').value}}</span>
			</div>
		</div>
		<button mat-icon-button class="header-close-button" (click)="close(false)" >
      <mat-icon class="close-icon">close</mat-icon>
    </button>
	</div>

	<div class="page-1">
		<div class="book-form-body">
			<button mat-icon-button class="header-close-button" (click)="close(false)" *ngIf="mwindow.innerHeight < 260" >
		    <mat-icon class="close-icon">close</mat-icon>
		  </button>
			<form class="book-form">

				<div class="grid-item item-1">
					<mat-form-field appearance="outline" class="form-field datepicker" [formGroup]="bookForm" color="primary">
					  <mat-label>Datum</mat-label>
					  <input matInput [matDatepicker]="picker" formControlName="date" required>
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
					  <mat-error *ngIf="bookForm.get('date').invalid">{{getErrorMessage(bookForm.get('date'))}}</mat-error>
					</mat-form-field>
				</div>


				<div class="grid-item item-3">
					<mat-form-field appearance="outline" class="form-field timepicker-start" [formGroup]="bookForm" (click)="startTimepicker.toggle()">
					  <mat-label>Startzeitpunkt</mat-label>
					  <input matInput formControlName="startTime"  required readonly>
						<div matRipple class="suffix-icon-container" matSuffix (click)="startTimepicker.toggle()" [matRippleColor]="startTimepicker.active ? undefined : primary600" [class.active]="startTimepicker.active">
							<mat-icon class="timepicker-icon" >access_time</mat-icon>
						</div>
						<mat-error *ngIf="bookForm.get('startTime').invalid">{{getErrorMessage(bookForm.get('startTime'))}}</mat-error>
					  <app-timepicker class="timepicker" #startTimepicker (submit)="bookForm.get('startTime').setValue($event.houre + ':' + $event.minute)"></app-timepicker>
					</mat-form-field>
					<mat-icon class="span-icon" >remove</mat-icon>
					<mat-form-field appearance="outline" class="form-field timepicker-end" [formGroup]="bookForm" (click)="endTimepicker.toggle()">
					  <mat-label>Endzeitpunkt</mat-label>
					  <input matInput formControlName="endTime" required readonly>
						<div matRipple class="suffix-icon-container" matSuffix (click)="endTimepicker.toggle()" [matRippleColor]="endTimepicker.active ? undefined : primary600" [class.active]="endTimepicker.active">
							<mat-icon class="timepicker-icon" >access_time</mat-icon>
						</div>
						<mat-error *ngIf="bookForm.get('endTime').invalid">{{getErrorMessage(bookForm.get('endTime'))}}</mat-error>
					  <app-timepicker class="timepicker" #endTimepicker (submit)="bookForm.get('endTime').setValue($event.houre + ':' + $event.minute)"></app-timepicker>
					</mat-form-field>
				</div>

			</form>
		</div>


    <button mat-mini-fab color="primary" class="go-right-button" (click)="openPage2()" *ngIf="!page2Ative" color="accent">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
	</div>



	<div class="page-2" [class.active]="page2Ative" *ngIf="active">
		<div class="book-form-body-page-2">
			<button mat-icon-button class="header-close-button" (click)="close(false)" *ngIf="mwindow.innerHeight < 260" >
		    <mat-icon class="close-icon">close</mat-icon>
		  </button>
			<form class="book-form">
				<div class="grid-item item-1">
				  <mat-form-field appearance="outline" class="title-field form-field" [formGroup]="bookForm">
				    <mat-label>Ereignis Titel</mat-label>
				    <input matInput required formControlName="title" maxlength="25">
				    <mat-error *ngIf="bookForm.get('title').invalid">{{getErrorMessage(bookForm.get('title'))}}</mat-error>
				  </mat-form-field>
				</div>
				<div class="grid-item item-4">
				  <mat-form-field appearance="outline"  class="color-field form-field" [formGroup]="bookForm">
				    <mat-label>Farbwahl</mat-label>
				    <mat-select formControlName="color">
				      <mat-option [value]="color.value" *ngFor="let color of colors | keyvalue">
				      	<div class="option-item" >
				      		<div class="option-text">
				      			{{color.key | titlecase}}
				      		</div>
				      		<div class="option-icon" [style.backgroundColor]="color.value"></div>
				      	</div>
				      </mat-option>
				    </mat-select>
				  </mat-form-field>
				</div>
				<div class="grid-item page-2-item-3">
				  <mat-form-field appearance="outline"  class="text-field form-field-text" [formGroup]="bookForm">
				    <mat-label>Info Text</mat-label>
				    <textarea matInput formControlName="info" class="text-area"></textarea>
				  </mat-form-field>
				</div>

				<div class="grid-item item-2 checkbox-item">
					<mat-checkbox color="primary" class="weekly-checkbox" labelPosition="after" [formControl]="bookForm.get('weekly')" >Wöchentlich</mat-checkbox>
				</div>

			</form>
	    <button mat-mini-fab color="primary" class="go-left-button" (click)="closePage2()" color="accent">
	      <mat-icon>keyboard_arrow_left</mat-icon>
	    </button>
	    <button mat-raised-button color="primary" class="accept-button" (click)="close(true, $event)" color="accent" >Bestätigen</button>
		</div>
	</div>


</div>
<div class="book-form-overlay" [class.active]="active" (click)="close(false)"></div> -->

<div class="book-form-overlay" [class.active]="active" (click)="close()"></div>

<div id="form-container" [class.active]="active">

	<form #formBody  [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)" [style.paddingRight]="screenWindow.innerWidth > 400 ? '10px': '0'" [style.paddingLeft]="screenWindow.innerWidth > 400 ? '10px': '0'" [style.height.px]="screenWindow.innerHeight>440 ? 440 : screenWindow.innerHeight" [style.top.px]="screenWindow.innerHeight > 400 ? 0.5*screenWindow.innerHeight-200 : 0">

		<section id="header" >
			<span id="form-title-span">
				Buchung {{activePageCourt.name}}
			</span>
			<span id="form-close-icon-span">
				<button mat-icon-button class="header-close-button" (click)="close()" type="button">
			    <mat-icon class="close-icon">close</mat-icon>
			  </button>
			</span>
		</section>




		<div id="stepper"  *ngIf="screenWindow.innerHeight > 338 || stage != 3">

			<span id="date-step" class="step" [class.active]="stage>=0">
				<div class="step-icon-container">
					<mat-icon class="step-icon" *ngIf="stage>0">done</mat-icon>
					<div class="step-icon" *ngIf="stage<=0">1</div>
				</div>
				<div class="step-text" *ngIf="stage>0 && bookForm.get('date').value">
					{{bookForm.get('date').value._d | date:"dd.MM"}}
				</div>
				<div class="step-text" *ngIf="stage<=0">
					Datum
				</div>
			</span>

			<span class="step-connector"></span>

			<span id="timespan-step" class="step" [class.active]="stage>=1">
				<div class="step-icon-container">
					<mat-icon class="step-icon" *ngIf="stage > 1">done</mat-icon>
					<div class="step-icon" *ngIf="stage <= 1">2</div>
				</div>
				<div class="step-text" *ngIf="stage>1">
					{{bookForm.get('startTime').value}}-{{bookForm.get('endTime').value}}
				</div>
				<div class="step-text" *ngIf="stage<=1">
					Zeitspanne
				</div>
			</span>

			<span class="step-connector"></span>

			<span id="category-step" class="step" [class.active]="stage>=2">
				<div class="step-icon-container">
					<mat-icon class="step-icon" *ngIf="stage > 2">done</mat-icon>
					<div class="step-icon" *ngIf="stage <= 2">3</div>
				</div>
				<div class="step-text" *ngIf="stage>2">
					{{bookForm.get('category').value}}
				</div>
				<div class="step-text" *ngIf="stage<=2">
					Kategorie
				</div>
			</span>

			<span class="step-connector"></span>

			<span id="additional-info-step" class="step" [class.active]="stage>=3">
				<div class="step-icon-container">
					<mat-icon class="step-icon" *ngIf="stage > 3">done</mat-icon>
					<div class="step-icon" *ngIf="stage <= 3">4</div>
				</div>
				<div class="step-text">
					Weiteres
				</div>
			</span>
		</div>



		<div id="form-body" [@FormAnimation]="stages[stage]">
			<div id="page1" class="form-page" [class.active]="stage == 0">
				<section id="section1" [style.height.px]="screenWindow.innerHeight < 354 ? screenWindow.innerHeight>342 ? 90-354+screenWindow.innerHeight : 80 : null">
					<mat-form-field appearance="outline" id="datepicker" class="form-field" color="primary">
					  <mat-label>Datum</mat-label>
					  <input matInput [matDatepicker]="picker" formControlName="date" required>
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
					  <mat-error *ngIf="bookForm.get('date').invalid">{{getErrorMessage(bookForm.get('date'))}}</mat-error>
					</mat-form-field>
				</section>

				<section id="page-buttons">
					<span id="go-left-span" >
				    <button mat-mini-fab color="primary" class="go-left-button mini-fab-button" [disabled]="stage == 0" (click)="stage = changeFormStep(-1)" color="" type="button">
				      <mat-icon>keyboard_arrow_left</mat-icon>
				    </button>
					</span>
					<span id="go-right-span" >
				    <button mat-mini-fab color="primary" class="go-right-button mini-fab-button" [disabled]="bookForm.get('date').errors != null" (click)="stage = changeFormStep(1)" color="" type="button">
				      <mat-icon>keyboard_arrow_right</mat-icon>
				    </button>
					</span>
				</section>

			</div>

			<div id="page2" class="form-page" [class.active]="stage == 1">

				<section id="section-time-span" [style.height.px]="screenWindow.innerHeight < 354 ? screenWindow.innerHeight>342 ? 90-354+screenWindow.innerHeight : 80 : null">
					<span class="form-field-span">
						<mat-form-field appearance="outline" id="timepicker-start" class="form-field" (click)="startTimepicker.toggle()">
						  <mat-label>Startzeitpunkt</mat-label>
						  <input matInput formControlName="startTime"  required readonly>
							<div matRipple class="suffix-icon-container" matSuffix (click)="startTimepicker.toggle()" [matRippleColor]="startTimepicker.active ? undefined : primary600" [class.active]="startTimepicker.active">
								<mat-icon class="timepicker-icon" >access_time</mat-icon>
							</div>
							<mat-error *ngIf="bookForm.get('startTime').invalid">{{getErrorMessage(bookForm.get('startTime'))}}</mat-error>
						  <app-timepicker class="timepicker" #startTimepicker (submit)="bookForm.get('startTime').setValue($event.houre + ':' + $event.minute)"></app-timepicker>
						</mat-form-field>
<!-- 						<mat-form-field appearance="outline">
							<app-time-input-field></app-time-input-field>
						</mat-form-field> -->
					</span>
					<span class="connector-span-icon">
						<mat-icon class="span-icon" >remove</mat-icon>
					</span>
					<span class="form-field-span">
						<mat-form-field appearance="outline" id="timepicker-end" class="form-field" (click)="endTimepicker.toggle()" >
						  <mat-label>Endzeitpunkt</mat-label>
						  <input matInput formControlName="endTime" required readonly>
							<div matRipple class="suffix-icon-container" matSuffix (click)="endTimepicker.toggle()" [matRippleColor]="endTimepicker.active ? undefined : primary600" [class.active]="endTimepicker.active">
								<mat-icon class="timepicker-icon" >access_time</mat-icon>
							</div>
							<mat-error *ngIf="bookForm.get('endTime').invalid">{{getErrorMessage(bookForm.get('endTime'))}}</mat-error>
						  <app-timepicker class="timepicker" #endTimepicker (submit)="bookForm.get('endTime').setValue($event.houre + ':' + $event.minute)"></app-timepicker>
						</mat-form-field>
					</span>

				</section>

				<section id="page-buttons">
					<span id="go-left-span">
				    <button mat-mini-fab color="primary" class="go-left-button mini-fab-button" (click)="stage = changeFormStep(-1)" color="" type="button">
				      <mat-icon>keyboard_arrow_left</mat-icon>
				    </button>
					</span>
					<span id="go-right-span" >
				    <button mat-mini-fab color="primary" class="go-right-button mini-fab-button" [disabled]="bookForm.get('startTime').errors != null || bookForm.get('endTime').errors != null" (click)="stage = changeFormStep(1)" color="" type="button">
				      <mat-icon>keyboard_arrow_right</mat-icon>
				    </button>
					</span>
				</section>
			</div>

			<div id="page3" class="form-page" [class.active]="stage == 2">

				<section id="section1" [style.height.px]="screenWindow.innerHeight < 354 ? screenWindow.innerHeight>342 ? 90-354+screenWindow.innerHeight : 80 : null">
				  <mat-form-field appearance="outline"  class="color-field form-field" >
				    <mat-label>Kategorie</mat-label>
				    <mat-select formControlName="category" required>
				      <mat-option [value]="category.key" *ngFor="let category of eventCategories | keyvalue">
				      	<section class="mat-option-item">
				      		<div class="option-text">
				      			{{category.key | titlecase}}
				      		</div>
				      		<div class="option-icon" [style.backgroundColor]="category.value"></div>
				      	</section>


				      </mat-option>

				    </mat-select>
						<mat-error *ngIf="bookForm.get('category').invalid">{{getErrorMessage(bookForm.get('category'))}}</mat-error>
				  </mat-form-field>
				</section>


				<section id="page-buttons">
					<span id="go-left-span">
				    <button mat-mini-fab color="primary" class="go-left-button mini-fab-button" (click)="stage = changeFormStep(-1)" color="" type="button">
				      <mat-icon>keyboard_arrow_left</mat-icon>
				    </button>
					</span>
					<span id="go-right-span" >
				    <button mat-raised-button color="primary" class="go-right-button mini-fab-button" [disabled]="bookForm.get('category').errors != null" (click)="stage = changeFormStep(1)" color="" type="button">
				    	Weitere Einstellungen
				    </button>
					</span>
				</section>

				<section class="accept-button-section" *ngIf="stage >= 2">
					<button mat-raised-button color="primary" type="submit" class="accept-button" color="accent" [disabled]="bookForm.get('category').errors != null">Bestätigen</button>
				</section>

			</div>

			<div id="page4" class="form-page" [class.active]="stage == 3">

				<section matRipple id="section-checkbox" (click)="toggleCheckbox($event)">
					<mat-checkbox color="primary" class="weekly-checkbox" labelPosition="after" [formControl]="bookForm.get('weekly')" [checked]="checked" >Wöchentlich</mat-checkbox>
				</section>

				<section id="section-expand" *ngIf="bookForm.get('weekly').value" [@ExpandAnimation]='display' [style.height.px]="screenWindow.innerHeight < 354 ? screenWindow.innerHeight>342 ? 90-354+screenWindow.innerHeight : 87 : null">
					<mat-form-field appearance="outline"  id="num-of-weeks" class="form-field" >
						<mat-label>Anzahl an Wochen</mat-label>
						<input matInput type="number" formControlName="numOfWeeks" min="2">
					</mat-form-field>
				</section>

				<section id="page-buttons">
					<span id="go-left-span">
				    <button mat-mini-fab color="primary" class="go-left-button mini-fab-button" (click)="stage = changeFormStep(-1); checked ? toggleCheckbox($event) : null" color="" type="button">
				      <mat-icon>keyboard_arrow_left</mat-icon>
				    </button>
					</span>
					<span id="go-right-span" >
				    <button mat-mini-fab color="primary" class="go-right-button mini-fab-button" [disabled]="bookForm.get('category').errors != null" (click)="stage = changeFormStep(1)" color="" type="button">
				      <mat-icon>keyboard_arrow_right</mat-icon>
				    </button>
					</span>
				</section>

				<section class="accept-button-section" *ngIf="stage >= 2">
					<button mat-raised-button color="primary" type="submit" class="accept-button" color="accent" [disabled]="bookForm.get('category').errors != null">Bestätigen</button>
				</section>

			</div>

		</div>




	</form>

</div>


