@import '../../styleVars';


.book-form-container{
	overflow: hidden;
	position: absolute;
	display: grid;
	grid-template-rows: 28% 72%;
	grid-template-columns: 100%;
	width: 100vw;
	max-width: 400px;
	transform: translate(-50%, 0%);
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	visibility: hidden !important;
	z-index: 3;
	&.active{
		visibility: visible !important;
	}
}

.book-form-header{
	grid-row: 1/2;
	position: relative;
	width: 100%;
	background-color: $mat-gray-750;
	border-bottom: 2px solid $mat-indigo-200;
	padding: 5px;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto;
	align-items: center;
	white-space: nowrap;
	color: $dark-theme-font-color;
}
.header-close-button{
	position: absolute;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	right: 2px;
	top: 2px;
	color: $mat-pink-400;

}

.close-icon{
	transform: translate(0px, -2px);
}

.header-item {
	height: 1em;
	font-size: 1.3em;
	white-space: nowrap;
}
.page-name{
	grid-row: 1/2;
}

.underline {
	text-decoration: underline;
}

.day-name > div{
	display: inline-block;
}
.day-name {
	grid-row: 2/3;

}

.timespan {
	grid-row: 3/4;

}
.timespan > div {
	display: inline-block;
}


.page-1{
	position: relative;
	display: grid;
	grid-row: 2/3;
	grid-column: 1/2;
	width: 100%;
	height: 100%;
}

.page-2{
	position: relative;
	display: grid;
	grid-row: 2/3;
	grid-column: 1/2;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	animation: pageChange 240ms ease-out normal backwards;
	z-index: 0;
}

.page-2.active {
	visibility: visible;
	animation: pageChangePrev 240ms ease-out normal backwards;
}

@keyframes pageChange {
	0% {visibility: visible;}
	100% {visibility: visible;}
}

@keyframes pageChangePrev {
	0% {visibility: visible;}
	100% {visibility: hidden;}
}


.page-2 > * {
	transform: translateX(100%);
	transition: transform 240ms;
}

.page-2.active > * {
	transform: translateX(0%);
	transition: transform 240ms;
}

.book-form-body{

	position: relative;
	width: 100%;
	padding: 3px;
	color: $font-color;
	background-color: $mat-gray-750;

}

.book-form-body-page-2{

	position: relative;
	padding: 3px;
	color: $font-color;
	background-color: $mat-gray-750;


}

.book-form{
	position: relative;
	height: 100%;
	width: auto;
	display: grid;
	grid-gap: 3px;
	padding: 1px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 45% 45%;
	justify-content: center;
	align-items: flex-start;
}

.grid-item{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items:flex-start;
	justify-content: flex-start;
}

.form-field{

	font-size: 1.1em;
	min-width: 150px;
	max-width: 186px;

}


.form-field-text{
	min-width: 150px;
	max-width: 186px;

}

textarea.mat-input-element {
	height: 15px;
}

.checkbox-item{
	align-items: center;
	// transform: translateY(-22px);
}

.item-1{

	grid-row: 1/2;
	grid-column: 1/2;
}

.item-2{
	grid-row: 1/2;
	grid-column: 2/3;
}

.item-3{
	// justify-content: center;
	grid-row: 2/3;
	grid-column: 1/3;
}

.page-2-item-3{
	grid-row: 2/3;
	grid-column: 1/2;
}

.item-4{
	grid-row: 2/3;
	grid-column: 2/3;
}

.span-icon{
	transform: translateY(20px);
}


.go-left-button{
	position: absolute;
	bottom: 2px;
	left: 2px;
	z-index: 1;
}

.go-right-button{
	position: absolute;

	bottom: 2px;
	right: 2px;
	z-index: 1;
}

.accept-button{
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 1;
}

.suffix-icon-container{
	display: flex;
	height: 35px;
	width: 35px;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	&.active{
		color: $mat-indigo-200;
	}
	&:hover{
		cursor: pointer;
	}
}

.timepicker{
	position: absolute;
	top:-120px;
	left: -5px;

}
.timepicker-icon {
	transform: translate(2px, 0) scale(1.1);
}



.option-item {
	height: 25px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.option-icon {
	width: 30%;
	height: 100%;
	margin-left: auto;
	border-radius: 4px;
}

.book-form-overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
	// background-color: #ffffff;
	&.active{
		visibility: visible;
	}
}
