@import '../../styles';


.book-form-container{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border: 2px solid $mat-gray-600;
	border-radius: 5px;
	padding: 5px;
}

.book-form-header{
	position: relative;
	width: 100%;
	height: 30%;
	border-bottom: 2px solid $mat-purple-500;
	padding: 5px;
}

.book-form-body{
	position: relative;
	width: 100%;
	height: 60%;
	border-bottom: 2px solid $mat-gray-600;
	padding: 5px;
	color: $font-color;
}

.book-form-footer{
	position: relative;
	width: 100%;
	height: 10%;
	padding: 5px;
}
