@import '../../styleVars';

.event-container{
	position: relative;
	width: $grid-col-width;
	color: $dark-theme-font-color;
	font-size: 1.05em;
	transition: 200ms ease-in-out;
	overflow: hidden;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	&.active{
		// height: auto;
		// transform: translate(calc(-0.15 * #{$grid-col-width}), -10%);
		transform: translate(0, -10%);
		transition: 200ms ease-in-out;
		// width: calc(1.4 * #{$grid-col-width});
		// max-width: 90vw;
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
		z-index: 3;
	}
}

.event-container.active > .event-header {
	height: auto;
	transition: 200ms ease-in-out;
}
.event-container.active > .event-body {
	height: auto;
	visibility: visible;
	transition: 200ms ease-in-out;
}

.event-header{
	height: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 170px 80px;
	transition: 200ms ease-in-out;
	padding: 6px 6px 6px 6px;

}

.header-item{
	display: flex;
	align-items: flex-end;
	justify-conten: flex-start;
	padding: 3px 0;
}

.delete-button{
	position: absolute;
	right: 0px;
	top: 0px;
	color: $dark-theme-font-color;
}

.timespan{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column: 1/2;
}
.owner{
	grid-row: 3/4;
	grid-column: 1/2;
}

.event-body{
	height: 0%;
	padding: 10px 6px 6px 10px;
	visibility: hidden;
	background-color: $mat-gray-750;
	transition: 200ms ease-in-out;

}
.event-footer{
	height: 0%;
	// border-top: 1px solid $dark-theme-font-color;
	visibility: hidden;
}

.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
	&.active{
		visibility: visible;
	}
}
