<div class="event-container" [class.active]="active" (click)="toggle()" [style.height.px]="active ? activeHeight : height" [style.top.px]="active ? top : top">
	<div class="event-header" [style.backgroundColor]="colors[event.category]">
		<button mat-icon-button class="delete-button" *ngIf="active" (click)="deleteMe()">
      <mat-icon>delete_outline</mat-icon>
    </button>
		<div class="timespan header-item" >
			{{event.startDate | date:'H:mm'}} - {{event.endDate | date:'H:mm'}} &nbsp;
		</div>


		<div class="date header-item" *ngIf="(active || height>40) && !event.weekly " >
			{{event.startDate | date:'EEEE, d. MMM'}}
		</div>


		<div class="date header-item" *ngIf="(active || height>40) && event.weekly" >
			{{event.startDate | date:'EEEE'}}s
		</div>


		<div class="title header-item" *ngIf="active || height>40" [style.gridRow]="'2/3'" [style.gridColumn]="'1/3'" >
			{{event.category | titlecase}}
		</div>

		<div class="title header-item" *ngIf="!active && height<=40" [style.gridRow]="'1/2'"  >
			{{event.category | titlecase}}
		</div>

		<div class="owner header-item" *ngIf="active || height>40">
			{{event.user.name | titlecase}}
		</div>
	</div>
	<div class="event-body">
		{{event.info}}
	</div>
	<div class="event-footer">
		This Footer
	</div>
</div>
<div class="overlay" [class.active]="active" (click)="close()"></div>
