<div class="event-container" [class.active]="active" (click)="open()" [style.height.px]="active ? activeHeight : height" [style.top.px]="active ? top : top">
	<div class="event-header" [style.backgroundColor]="event.backgroundColor">
		<button mat-icon-button class="delete-button" *ngIf="active" (click)="deleteMe()">
      <mat-icon>delete_outline</mat-icon>
    </button>
		<div class="timespan header-item" >
			{{event.startDate | date:'H:mm'}} - {{event.endDate | date:'H:mm'}} &nbsp;
		</div>
		<div class="date header-item" *ngIf="active || height>40">
			{{event.startDate | date:'EEEE, d MMM, y'}}
		</div>
		<div class="title header-item" [style.gridRowStart]="active ? 2 : height<=40 ? 1 : 2" [style.gridColumnStart]="active ? 1 : height<=40 ? 2 : 1" [style.gridColumnEnd]="3" >
			{{event.title | titlecase}}
		</div>
		<div class="owner header-item" *ngIf="active || height>40">
			{{event.owner | titlecase}}
		</div>
	</div>
	<div class="event-body">
		{{event.info}}
	</div>
	<div class="event-footer">
		This Footer
	</div>
</div>
<div class="overlay" [class.active]="active" (click)="close()"></div>
